* {
  outline: 2px solid green;
}

.page,
.page * {
  box-sizing: border-box;
}

.page {
  @import "reset-css";

  margin: 0 auto;
  min-height: 100vh;
  font-size: 0.625rem;
  padding: 1.5em;
  // position: relative;

  ._inner {
    padding: 0 6em;
    margin: 0 auto;
    width: 78.125rem; // 1250px;
    max-width: 100%;
  }

  // hero-screen
  .hero-screen {
    height: 59.9em;
    font-family: "Arial";
    color: #ffffff;

    background: linear-gradient(0deg, rgba(138, 123, 96, 0.67), rgba(138, 123, 96, 0.67)),
      url(images/hero-background-original-progressive.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__logo-link {
      display: inline-block;
      margin-bottom: 11.6em;
      cursor: pointer;
    }

    &__logo-image {
      padding: 3.6em 1.1em;
      background-color: #0a398a;
    }

    &__title {
      text-transform: uppercase;
      font-size: 4.5rem; // 7.2em
      margin-bottom: 15px; // 15px
    }

    &__subtitle {
      font-size: 1.625rem; //2.6em
      line-height: 1.4; // 36px
      width: 34.3rem; // 550px;;
    }
  }

  .decoration {
    // position: absolute;
    // right: 0;
    // top: 32.9em;
    width: 36.3em;
    height: 36.8em;
    margin-top: -20em; /* Подкорректируйте значение для нужного расположения */
    margin-left: auto;
    margin-right: 0;

    // margin-top: -16.6rem; // -267px;
    // margin-right: 21rem; // 337px;
    // margin-left: 1485px;
    img {
      // display: block;
      // width: 100%;
      // height: auto;
    }
  }
}
