// * {
//   outline: 2px solid green;
// }

.page,
.page * {
  box-sizing: border-box;
}

.page {
  @import "reset-css";

  margin: 0 auto;
  min-height: 100vh;
  font-size: 0.625rem;
  padding: 1.5em;
  position: relative;

  ._inner {
    padding: 0 6em;
    margin: 0 auto;
    width: 78.125rem; // 1250px;
    max-width: 100%;
  }

  // hero-screen
  .hero-screen {
    height: 59.9em;
    font-family: "Arial";
    color: #ffffff;

    background: linear-gradient(0deg, rgba(138, 123, 96, 0.67), rgba(138, 123, 96, 0.67)),
      url(images/hero-background-original-progressive.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__logo-link {
      display: inline-block;
      margin-bottom: 11.6em;
      cursor: pointer;
    }

    &__logo-image {
      padding: 3.6em 1.1em;
      background-color: #0a398a;
    }

    &__title {
      text-transform: uppercase;
      font-size: 4.5rem; // 7.2em
      margin-bottom: 15px;
    }

    &__subtitle {
      font-size: 1.625rem; //2.6em
      line-height: 1.4; // 36px
      width: 34.3rem; // 550px;;
    }
  }

  .decoration {
    width: 36.3em;
    height: 36.8em;
    margin-top: -20em;
    position: absolute;
    right: 0;
  }

  // about-duffbeer

  .about-duffbeer {
    display: flex;
    gap: 4em;
    padding-top: 10em;
    padding-bottom: 10em;
  }

  .about-duffbeer__video-wrapper {
    position: relative;
  }

  .about-duffbeer__video {
    width: 54.5em;
    height: 36.5em;
    z-index: 2;
    position: inherit;
    margin-top: 3.7em;
  }

  .about-duffbeer__video-background {
    width: 54.5em;
    height: 36.7em;
    background-color: #f7eee5;
    position: absolute;
    top: 0px;
    left: -3.5em;
  }

  .about-duffbeer__years {
    font-family: "Lato";
    font-style: normal;
    margin-bottom: 3.2em;

    .about-duffbeer__number {
      display: block;
      margin-bottom: 23px;
      font-weight: 900;
      font-size: 5.625rem; // 90px;
      line-height: 0.7;
      color: #8a7b60;
    }

    .about-duffbeer__years-text {
      font-weight: 700;
      font-size: 1.125rem; // 18px;
      text-transform: uppercase;
      color: #0a3b93;
    }
  }

  .about-duffbeer__paragraph {
    font-size: 1.125rem; // 18px;
    line-height: 167%;
    color: #6c5f4a;

    &:first-child {
      margin-bottom: 1em;
    }
  }
} // закрывающая скобка для .page
